<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Primary Meta Tags -->
    <title>Udemy Downloader - Download Udemy Paid Courses Only 3$</title>

    <meta name="title" content="Udemy Downloader - Download Udemy Paid Courses Only 3$" />
    <meta name="description"
        content="Tool to support get Paid Course Udemy, at an affordable price. With only $3, you can own a valuable course, helping you improve your knowledge and income!" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/redketchup/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/redketchup/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/redketchup/favicon-16x16.png">
    <link rel="manifest" href="/img/redketchup/site.webmanifest">
    <meta content="INDEX,FOLLOW" name="robots" />
    <meta property="og:type" content="website" />
    <link rel="canonical" href="https://fulludemy.com" />
    <meta property="og:url" content="https://fulludemy.com" />
    <meta property="og:title" content="Udemy Downloader - Download Udemy Paid Courses Only 3$" />
    <meta property="og:description"
        content="Tool to support get Paid Course Udemy, at an affordable price. With only $3, you can own a valuable course, helping you improve your knowledge and income!" />
    <meta property="og:image" content="/img/ogfacebook/ogfb.jpg" />
    <meta property="og:locale" content="en_US" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/base.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/vendors.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/tingle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script type="application/ld+json">
        <%-JSON.stringify(schemaHome)%>
    </script>

    <%- include('../layout/analytics'); %>

</head>

<body class="preloader-visible" data-barba="wrapper">

    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->

    <h1 class="d-none">Udemy Downloader - Download Udemy Paid Courses Only 3$</h1>
    <main class="main-content  ">
        <%- include('../layout/header'); %>
            <div class="content-wrapper  js-content-wrapper">


                <section data-anim-wrap class="masthead -type-1 js-mouse-move-container">
                    <div class="masthead__bg">
                        <img src="img/home-1/hero/bg.png" alt="image">
                    </div>


                    <div class="container">
                        <div data-anim-wrap="" class="row y-gap-50 justify-between items-center animated">
                            <div class="col-xl-6 col-lg-11 ">
                                <div class="masthead__content">
                                    <h2 data-anim-child="slide-up" class="masthead__title is-in-view">
                                        Download Any Paid Course Udemy <span class="text-green-1 ">Only 3$</span>
                                    </h2>
                                    <p data-anim-child="slide-up delay-1" class="masthead__text is-in-view">
                                        Tool to support download Paid Course Udemy, at an affordable price. With only
                                        $3, you can own a valuable course, helping you improve your knowledge and
                                        income!
                                    </p>
                                    <div data-anim-child="slide-up delay-2"
                                        class="masthead__buttons row x-gap-10 y-gap-10 is-in-view">

                                        <div class="col-12 col-sm-auto">
                                            <a data-barba="" target="_blank" href="https://youtu.be/GsZcxZGavRQ"
                                                class="button -md -outline-light-13  ">Guide</a>
                                        </div>
                                    </div>
                                    <div data-anim-child="slide-up delay-3"
                                        class="masthead-info row y-gap-15 sm:d-none is-in-view">

                                        <div class="masthead-info__item d-flex items-center text-white">
                                            <div class="masthead-info__icon mr-10">
                                                <img src="img/masthead/icons/1.svg" alt="icon">
                                            </div>
                                            <div class="masthead-info__title lh-1">9000+ Paid Courses</div>
                                        </div>

                                        <div class="masthead-info__item d-flex items-center text-white">
                                            <div class="masthead-info__icon mr-10">
                                                <img src="img/masthead/icons/2.svg" alt="icon">
                                            </div>
                                            <div class="masthead-info__title lh-1">
                                                Support All Course You Need, DRM Course</div>
                                        </div>

                                        <div class="masthead-info__item d-flex items-center text-white">
                                            <div class="masthead-info__icon mr-10">
                                                <img src="img/masthead/icons/3.svg" alt="icon">
                                            </div>
                                            <div class="masthead-info__title lh-1">Save time and money</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-11">
                                <div data-anim-child="slide-up delay-6" class="masthead-form is-in-view">
                                    <h4 class="masthead-form__title text-20 lh-15 fw-500 mb-30">
                                        Start Learning Now !
                                    </h4>

                                    <form action="" id="handle_checkcourse">
                                        <div class="masthead-form__group">
                                            <label>Email</label>
                                            <input type="email" required placeholder="adbc@gmail.com" id="email">
                                        </div>
                                        <div class="masthead-form__group">
                                            <label>Course link to download:</label>
                                            <textarea
                                                placeholder="https://www.udemy.com/course/git-and-github-bootcamp/"
                                                required="" rows="7" id="links" style="border: 1px solid var(--color-light-8);padding: 15px 22px;
                                                border-radius: 8px;"></textarea>

                                        </div>

                                        <div class="masthead-form__group">
                                            <button type="submit" aria-label="Check Courses"
                                                class="button -md -purple-1 text-white">Check Courses</button>
                                        </div>

                                        <div class="masthead-form__desc">
                                            <a class="text-purple-1 " href="#price">Get 10% off when purchasing a Combo
                                                of 5 courses, and 15% off when buying a Combo of 10 courses.</a>
                                            <p>
                                                Please provide each link on a separate line.<br>
                                                <a class="text-purple-1" href="/order">Tracking orders</a>
                                            </p>

                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <svg class="svg-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                        <defs>
                            <path id="gentle-wave"
                                d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                        </defs>
                        <g class="svg-waves__parallax">
                            <use xlink:href="#gentle-wave" x="48" y="0"></use>
                            <use xlink:href="#gentle-wave" x="48" y="3"></use>
                            <use xlink:href="#gentle-wave" x="48" y="5"></use>
                            <use xlink:href="#gentle-wave" x="48" y="7"></use>
                        </g>
                    </svg>
                </section>

                <section class="layout-pt-sm layout-pb-sm border-bottom-light">
                    <div class="container">
                        <div class="row y-gap-30 justify-between">

                            <div class="col-xl-3 col-md-6">
                                <div class="d-flex items-center">
                                    <div class="mr-20">
                                        <img src="img/home-3/masthead/icons/1.svg" alt="icon">
                                    </div>

                                    <div>
                                        <h3 class="text-20 fw-500">22000+ Courses
                                        </h3>
                                        <div class="text-dark-1">Available from Udemy’s huge repository
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6">
                                <div class="d-flex items-center">
                                    <div class="mr-20">
                                        <img src="img/home-3/masthead/icons/2.svg" alt="icon">
                                    </div>

                                    <div>
                                        <h3 class="text-20 fw-500">Free Update</h3>
                                        <div class="text-dark-1">Full of latest and updated videos</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6">
                                <div class="d-flex items-center">
                                    <div class="mr-20">
                                        <img src="img/home-3/masthead/icons/3.svg" alt="icon">
                                    </div>

                                    <div>
                                        <h3 class="text-20 fw-500">Unlimited Access
                                        </h3>
                                        <div class="text-dark-1">Full privileges for download</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="layout-pt-lg layout-pb-lg bg-beige-1">
                    <div data-anim-wrap="" class="container animated">
                        <div class="row y-gap-30 justify-between items-center">
                            <div class="col-xl-5 col-lg-6 col-md-10 order-2 order-lg-1">
                                <div class="about-content">
                                    <h2 data-anim-child="slide-up delay-1" class="about-content__title is-in-view">
                                        Are you seeking a course, updating your knowledge, or finding a new job?

                                    </h2>
                                    <p data-anim-child="slide-up delay-2" class="about-content__text is-in-view">You
                                        want to take high-quality courses but do not want to spend too much money? ?
                                        Full Bootcamp will help you achieve that goal easily.

                                    </p>
                                    <div data-anim-child="slide-up delay-3" class="y-gap-20 pt-30 is-in-view">

                                        <div class="d-flex items-center">
                                            <div class="about-content-list__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check icon">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </div>
                                            <h3 class="about-content-list__title">Good Price: $3 / Course</h3>
                                        </div>

                                        <div class="d-flex items-center">
                                            <div class="about-content-list__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check icon">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </div>
                                            <h3 class="about-content-list__title">Save money</h3>
                                        </div>

                                        <div class="d-flex items-center">
                                            <div class="about-content-list__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check icon">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </div>
                                            <h3 class="about-content-list__title">22000+ courses - All courses are
                                                available on Udemy</h3>
                                        </div>

                                    </div>

                                    <div data-anim-child="slide-up delay-4" class="d-inline-block mt-30 is-in-view">
                                        <a href="#getCourseHere" class="button -md -dark-1 text-white">Get Course Now
                                            !</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-5 col-lg-6 order-1 order-lg-2">
                                <div data-anim-child="slide-up delay-5" class="about-image is-in-view">
                                    <img src="img/home-1/hero/udemy-1.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="layout-pt-lg layout-pb-md section-bg">
                    <div class="container">
                        <div class="row y-gap-30 items-center">
                            <div class="col-xl-5 offset-xl-1 col-lg-6">
                                <img class="w-1/1" src="img/home-1/hero/udemy-2.jpg" alt="image">
                            </div>

                            <div class="col-xl-4 offset-xl-1 col-lg-6">
                                <h3 class="text-24 lh-1">Reasonable price</h3>
                                <p class="mt-20">"With the Full Bootcamp, you don't need to worry about your budget. We
                                    offer Udemy courses at a lower price, helping you save significantly compared to
                                    buying directly from Udemy.</p>
                                <div class="d-inline-block mt-20">
                                    <a href="#getCourseHere" class="button -md -outline-purple-1 text-purple-1">Get
                                        courses now !</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="layout-pt-lg layout-pb-lg bg-light-3" id="price">
                    <div data-anim-wrap="" class="container animated">
                        <div class="row justify-center text-center">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title ">Price</h2>

                                    <p class="sectionTitle__text ">Please buy courses in bundles to get a discount.</p>

                                </div>
                            </div>
                        </div>

                        <div data-anim-wrap="" class="row y-gap-30 justify-between pt-60 lg:pt-50 animated">

                            <div class="col-lg-4 col-md-6 is-in-view" data-anim-child="slide-right delay-1">
                                <div class="priceCard -type-1 rounded-16 overflow-hidden">

                                    <div class="priceCard__header py-40 pl-50 bg-dark-2">

                                        <div class="priceCard__type text-18 lh-11 fw-500 text-white">Basic</div>
                                        <div class="priceCard__price text-45 lh-11 fw-700 text-white mt-8">3$</div>
                                        <div class="priceCard__period text-white mt-5">/ course</div>
                                    </div>


                                    <div class="priceCard__content pt-30 pr-90 pb-50 pl-50 bg-white">


                                        <div class="priceCard__text">Basic package, cost-effective</div>


                                        <div class="priceCard__list mt-30">

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                Full video set
                                            </div>

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                No download restrictions.
                                            </div>

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                Free updates.
                                            </div>

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                24/7 Full support
                                            </div>

                                        </div>


                                        <div class="priceCard__button mt-30">

                                            <a class="button -md -purple-3 text-purple-1" href="#handle_checkcourse">Get
                                                Course Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 is-in-view" data-anim-child="slide-right delay-2">
                                <div class="priceCard -type-1 rounded-16 overflow-hidden">

                                    <div class="priceCard__header py-40 pl-50 bg-purple-1">

                                        <div class="priceCard__type text-18 lh-11 fw-500 text-white">Combo 5 Courses.
                                        </div>
                                        <div class="priceCard__price text-45 lh-11 fw-700 text-white mt-8">Get 10% off.
                                        </div>
                                        <div class="priceCard__period text-white mt-5">$2.70 / Course</div>
                                    </div>


                                    <div class="priceCard__content pt-30 pr-90 pb-50 pl-50 bg-purple-1">


                                        <div class="priceCard__text text-white">Save 10% with the Combo of 5 courses.
                                        </div>


                                        <div class="priceCard__list mt-30 text-white">

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                Full video set
                                            </div>

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                No download restrictions.
                                            </div>

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                Free updates.
                                            </div>

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                24/7 Full support
                                            </div>

                                        </div>


                                        <div class="priceCard__button mt-30">

                                            <a class="button -md -white text-purple-1" href="#handle_checkcourse">Get
                                                Course Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 is-in-view" data-anim-child="slide-right delay-3">
                                <div class="priceCard -type-1 rounded-16 overflow-hidden">

                                    <div class="priceCard__header py-40 pl-50 bg-dark-2">

                                        <div class="priceCard__type text-18 lh-11 fw-500 text-white">Combo 10 courses
                                        </div>
                                        <div class="priceCard__price text-45 lh-11 fw-700 text-white mt-8">Get 15% off
                                        </div>
                                        <div class="priceCard__period text-white mt-5">$2.55 / Course</div>
                                    </div>


                                    <div class="priceCard__content pt-30 pr-90 pb-50 pl-50 bg-white">


                                        <div class="priceCard__text">Combo for buying multiple items, super promotion.
                                        </div>


                                        <div class="priceCard__list mt-30">

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                Full video set
                                            </div>

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                No download restrictions.
                                            </div>

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                Free updates.
                                            </div>

                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check text-purple-1 pr-8">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                                24/7 Full support
                                            </div>

                                        </div>


                                        <div class="priceCard__button mt-30">

                                            <a class="button -md -purple-3 text-purple-1" href="#handle_checkcourse">Get
                                                Course Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="layout-pt-md layout-pb-md">
                    <div data-anim-wrap="" class="container animated">
                        <div class="row justify-center text-center">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title ">Covering a wide range of topics and fields.</h2>

                                    <p class="sectionTitle__text ">We offer a wide range of courses in many fields, such
                                        as Programming, Graphic Design, Soft Skills, English, Marketing, Project
                                        Management, etc. No matter what field you are interested in, we have the right
                                        course for you, as long as it’s on websites that Full Bootcamp supports. Choose
                                        from 213,000 online video courses with new additions published every month</p>

                                </div>

                            </div>
                        </div>

                        <div class="overflow-hidden pt-50 js-section-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight swiper-watch-progress"
                            data-gap="30" data-loop="" data-pagination="" data-slider-cols="xl-6 lg-4 md-2 sm-2">
                            <div class="swiper-wrapper" id="swiper-wrapper-bc2710977533b7b36" aria-live="polite"
                                style="transition-duration: 0ms; transform: translate3d(-2200px, 0px, 0px); height: 239px;">
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0"
                                    role="group" aria-label="1 / 6" style="width: 190px; margin-right: 30px;">
                                    <div data-anim-child="slide-left delay-2"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/1.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Design Creative</div>
                                            <div class="featureCard__text">573+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1"
                                    style="width: 190px; margin-right: 30px;" role="group" aria-label="2 / 6">
                                    <div data-anim-child="slide-left delay-3"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/2.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Sales Marketing</div>
                                            <div class="featureCard__text">565+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2"
                                    style="width: 190px; margin-right: 30px;" role="group" aria-label="3 / 6">
                                    <div data-anim-child="slide-left delay-4"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/3.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Development IT</div>
                                            <div class="featureCard__text">126+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
                                    data-swiper-slide-index="3" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="4 / 6">
                                    <div data-anim-child="slide-left delay-5"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/4.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Engineering Architecture</div>
                                            <div class="featureCard__text">35+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                    data-swiper-slide-index="4" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="5 / 6">
                                    <div data-anim-child="slide-left delay-6"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/5.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Personal Development</div>
                                            <div class="featureCard__text">908+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
                                    data-swiper-slide-index="5" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="6 / 6">
                                    <div data-anim-child="slide-left delay-7"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/6.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Finance Accounting</div>
                                            <div class="featureCard__text">129+ Courses</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-swiper-slide-index="0"
                                    style="width: 190px; margin-right: 30px;" role="group" aria-label="1 / 6">
                                    <div data-anim-child="slide-left delay-2"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/1.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Design Creative</div>
                                            <div class="featureCard__text">573+ Courses</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-swiper-slide-index="1"
                                    style="width: 190px; margin-right: 30px;" role="group" aria-label="2 / 6">
                                    <div data-anim-child="slide-left delay-3"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/2.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Sales Marketing</div>
                                            <div class="featureCard__text">565+ Courses</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-swiper-slide-index="2"
                                    style="width: 190px; margin-right: 30px;" role="group" aria-label="3 / 6">
                                    <div data-anim-child="slide-left delay-4"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/3.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Development IT</div>
                                            <div class="featureCard__text">126+ Courses</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3"
                                    style="width: 190px; margin-right: 30px;" role="group" aria-label="4 / 6">
                                    <div data-anim-child="slide-left delay-5"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/4.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Engineering Architecture</div>
                                            <div class="featureCard__text">35+ Courses</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide swiper-slide-visible swiper-slide-active"
                                    data-swiper-slide-index="4" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="5 / 6">
                                    <div data-anim-child="slide-left delay-6"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/5.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Personal Development</div>
                                            <div class="featureCard__text">908+ Courses</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide swiper-slide-visible swiper-slide-next"
                                    data-swiper-slide-index="5" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="6 / 6">
                                    <div data-anim-child="slide-left delay-7"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/6.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Finance Accounting</div>
                                            <div class="featureCard__text">129+ Courses</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-visible"
                                    data-swiper-slide-index="0" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="1 / 6">
                                    <div data-anim-child="slide-left delay-2"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/1.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Design Creative</div>
                                            <div class="featureCard__text">573+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-visible"
                                    data-swiper-slide-index="1" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="2 / 6">
                                    <div data-anim-child="slide-left delay-3"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/2.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Sales Marketing</div>
                                            <div class="featureCard__text">565+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-visible"
                                    data-swiper-slide-index="2" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="3 / 6">
                                    <div data-anim-child="slide-left delay-4"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/3.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Development IT</div>
                                            <div class="featureCard__text">126+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-visible swiper-slide-duplicate-prev"
                                    data-swiper-slide-index="3" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="4 / 6">
                                    <div data-anim-child="slide-left delay-5"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/4.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Engineering Architecture</div>
                                            <div class="featureCard__text">35+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                    data-swiper-slide-index="4" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="5 / 6">
                                    <div data-anim-child="slide-left delay-6"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/5.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Personal Development</div>
                                            <div class="featureCard__text">908+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
                                    data-swiper-slide-index="5" style="width: 190px; margin-right: 30px;" role="group"
                                    aria-label="6 / 6">
                                    <div data-anim-child="slide-left delay-7"
                                        class="featureCard -type-1 -featureCard-hover is-in-view">
                                        <div class="featureCard__content">
                                            <div class="featureCard__icon">
                                                <img src="img/featureCards/6.svg" alt="icon">
                                            </div>
                                            <div class="featureCard__title">Finance Accounting</div>
                                            <div class="featureCard__text">129+ Courses</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-center x-gap-15 items-center pt-60 lg:pt-40">
                                <div class="col-auto">
                                    <button class="d-flex items-center text-24 arrow-left-hover js-prev" tabindex="0"
                                        aria-label="Previous slide" aria-controls="swiper-wrapper-bc2710977533b7b36">
                                        <i class="icon icon-arrow-left"></i>
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <div
                                        class="pagination -arrows js-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                                        <div class="pagination__item" tabindex="0" role="button"
                                            aria-label="Go to slide 1"></div>
                                        <div class="pagination__item" tabindex="0" role="button"
                                            aria-label="Go to slide 2"></div>
                                        <div class="pagination__item" tabindex="0" role="button"
                                            aria-label="Go to slide 3"></div>
                                        <div class="pagination__item" tabindex="0" role="button"
                                            aria-label="Go to slide 4"></div>
                                        <div class="pagination__item is-active" tabindex="0" role="button"
                                            aria-label="Go to slide 5" aria-current="true"></div>
                                        <div class="pagination__item" tabindex="0" role="button"
                                            aria-label="Go to slide 6"></div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="d-flex items-center text-24 arrow-right-hover js-next" tabindex="0"
                                        aria-label="Next slide" aria-controls="swiper-wrapper-bc2710977533b7b36">
                                        <i class="icon icon-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>
                </section>


                <section class="layout-pt-lg layout-pb-lg">
                    <div class="container">
                        <div class="row y-gap-20 justify-center text-center">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h3 class="sectionTitle__title ">How to Download</h3>

                                    <p class="sectionTitle__text ">Learn How To Download Udemy Courses from Our Udemy
                                        Downloader Tool.</p>

                                </div>

                            </div>
                        </div>

                        <div class="row y-gap-30 justify-between pt-60 lg:pt-40">

                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/1.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">01</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Enter the your Gmail and links of the
                                        courses you need.</div>
                                </div>
                            </div>


                            <div class="col-auto xl:d-none">
                                <div class="pt-30">
                                    <img src="img/misc/lines/1.svg" alt="icon">
                                </div>
                            </div>


                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/2.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">02</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Pay for orders</div>
                                </div>
                            </div>


                            <div class="col-auto xl:d-none">
                                <div class="pt-30">
                                    <img src="img/misc/lines/2.svg" alt="icon">
                                </div>
                            </div>


                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/3.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">03</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Receive courses via Google Drive or
                                        OneDrive.
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row y-gap-30 items-center pt-30 lg:pt-30">
                            <iframe width="600" height="500"
                                src="https://www.youtube.com/embed/GsZcxZGavRQ?si=2HQ_-fYK2Pg4DTDS"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>

                    </div>
                </section>

                <section class="layout-pt-lg layout-pb-lg">
                    <div class="container">
                        <div class="row y-gap-20 justify-center text-center pb-10">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h3 class="sectionTitle__title ">FAQ</h3>

                                    <p class="sectionTitle__text ">Frequently asked questions when buying courses at
                                        Full Udemy.</p>

                                </div>

                            </div>
                        </div>
                        <div class="accordion -block js-accordion">

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">How much does the course cost?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Only $3</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Can I download it?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Yes. You can download all courses if you buy them at Full Udemy.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Will my course be updated if it is
                                        updated?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Yes. We update the courses for FREE.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">How long does it take to receive the course
                                        after payment?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        You can receive the course in about 2-4 hours. You have to wait longer if the
                                        course is longer and has more content.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Where My Udemy Courses Saved after
                                        Download?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>You can find the download link for the course in your Gmail inbox. Please
                                            check both your inbox and spam folder. Alternatively, you can specifically
                                            check here: <a href="/order">https://fulludemy.com/order</a> </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>


                <section class="layout-pt-lg layout-pb-lg mb-90 section-bg">
                    <div class="section-bg__item">
                        <img class="img-full rounded-16" src="img/home-3/cta/bg.png" alt="image">
                    </div>

                    <div class="container">
                        <div class="row justify-center text-center">
                            <div class="col-xl-5 col-lg-6 col-md-11">

                                <div class="sectionTitle -light">

                                    <h2 class="sectionTitle__title ">Udemy Downloader</h2>

                                    <p class="sectionTitle__text ">Use Udemy Downloader to Download Udemy Paid Courses
                                        only 3$
                                    </p>

                                </div>

                            </div>
                        </div>

                        <div class="row mt-30 justify-center">
                            <div class="col-auto">
                                <a href="#getCourseHere" class="button -md -outline-light-4 text-white">Get Course
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </section>

                <%- include('../layout/footer'); %>
            </div>

    </main>

    <%- include('../layout/footerjs'); %>

</body>
<script>
    const modalCheckCourse = new tingle.modal({
        footer: true,
        stickyFooter: true
    })

    modalCheckCourse.addFooterBtn('Check Out', 'button -md -purple-1 text-white tingle-btn--pull-left', async function () {
        const items = []
        const courseItemClass = [...document.getElementsByClassName("course-item")]
        const courseItemBuy = courseItemClass.forEach(item => items.push({ courseID: item.getAttribute("courseID") }))
        const email = document.getElementById("email").value
        const FooterBtnID = document.getElementById("FooterBtnID")
        // FooterBtnID.classList.add('')
        FooterBtnID.classList.toggle("-single-icon");
        FooterBtnID.classList.toggle("-purple-1");
        FooterBtnID.classList.toggle("-purple-3");
        FooterBtnID.setAttribute('disabled', '');
        FooterBtnID.innerHTML = `<svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <path fill="#fff" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
            <animateTransform 
                attributeName="transform" 
                attributeType="XML" 
                type="rotate"
                dur="1s" 
                from="0 50 50"
                to="360 50 50" 
                repeatCount="indefinite" />
        </path>
        </svg> Check Out`
        try {
            toastr.success('Creating an order, please wait')

            const createOrder = await axios.post('/order/createvnapi', {
                email, items
            })
            FooterBtnID.classList.toggle("-single-icon");
            FooterBtnID.classList.toggle("-purple-1");
            FooterBtnID.classList.toggle("-purple-3");
            FooterBtnID.removeAttribute('disabled', '');
            FooterBtnID.innerHTML = 'Check Out'
            const itemsForGtag = createOrder.data.orderItem.map(item => {
                return {
                    item_id: item.id,
                    item_name: item.name,
                    price: item.priceus / 100,
                    quantity: 1
                }
            })
            const itemsForTikTok = createOrder.data.orderItem.map(item => {
                return {
                    content_id: item.id,
                    content_name: item.name,
                    price: item.priceus / 100,
                    quantity: 1
                }
            })
            gtag("event", "purchase", {
                transaction_id: createOrder.data.order.uuid,
                value: createOrder.data.order.priceus / 100,
                currency: "USD",
                items: itemsForGtag
            });
            fbq('track', 'Purchase', { currency: "USD", value: createOrder.data.order.priceus / 100 });
            ttq.track('PlaceAnOrder', {
                content_type: 'product',
                currency: "USD",
                value: createOrder.data.order.priceus / 100,
                contents: itemsForTikTok,

            })
            window.location.href = `/order/${createOrder.data.order.uuid}`
        } catch (error) {
            for (let e of error.response.data.error) {
                toastr.error(e.msg)
            }
        }

    });
    // modalCheckCourse.addFooterBtn('Huỷ', 'button -md -purple-3 text-purple-1 tingle-btn--pull-right', function () {
    //     modalCheckCourse.close();
    // });
    const handle_checkcourse = document.getElementById("handle_checkcourse");
    handle_checkcourse.addEventListener("submit", async (event) => {
        const FooterBtnID = document.getElementById("FooterBtnID")
        FooterBtnID.classList.toggle('d-none')
        try {
            event.preventDefault()
            const uri = document.getElementById("links").value
            const email = document.getElementById("email").value

            let links = Array.from(uri.match(/[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/ig))

            modalCheckCourse.open()
            modalCheckCourse.setContent('Fetching data...');
            const checkCourseRequest = await axios.post('/course/check', {
                email, links
            })
            var codeHtml = ``


            for (let course of checkCourseRequest.data) {
                if (!course.success) {
                    toastr.error(course.data.title ? course.data.title : course.data.name, course.messenger)
                    continue
                }

                const childHTML = `<div class="border-bottom-light course-item mt-20" courseID="${course.data.id}">
              <div  class="coursesCard -type-1 row y-gap-20 flex-row items-center">
                <div class="col-2 my-2">
                  <div class="coursesCard__image rounded-8 relative">
                    <img class="w-1/1 rounded-8" src="${course.data.image}" alt="image">
                    <div class="coursesCard__image_overlay rounded-8"></div>
                  </div>
                </div>

                <div class="col-8">
                  <div class="text-17 lh-15 fw-500 text-dark-1 mt-10">${course.data.name}</div>
                </div>
                
                <div class="col-2">
                  <div class="text-right md:text-left">
                    <div class="text-15 lh-1 fw-500 line-through">
                        ${course.data.originprice?.toLocaleString('en-US', {
                    style: 'currency',
                    currency: 'USD'
                })}
                                                </div>
                    <div class="text-17 lh-1 fw-500 text-dark-1 mt-10">${(course.data.priceus / 100).toLocaleString('en-US', {
                    style: 'currency',
                    currency: 'USD'
                })}</div>
                  </div>
                </div>
              </div>
            </div>`
                codeHtml += childHTML
            }

            modalCheckCourse.setContent(codeHtml);
            FooterBtnID.innerHTML = `Check Out`
            FooterBtnID.classList.toggle('d-none')
        } catch (error) {
            console.log(error)
            toastr.error('Something is wrong, please check again or contact the administrator')
        }


    })
</script>

</html>