<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/base.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
        <meta content="noindex, nofollow" name="robots" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/vendors.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tingle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <%- include('../layout/analytics'); %>
</head>

<body class="preloader-visible" data-barba="wrapper">
    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->


    <main class="main-content ">
        <%- include('../layout/header'); %>
            <div class="content-wrapper  js-content-wrapper pt-60">

                <section class="layout-pt-md layout-pb-lg">
                    <div class="container">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-xl-8 col-lg-9 col-md-11">
                                <div class="shopCompleted-header">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-check">
                                            <polyline points="20 6 9 17 4 12"></polyline>
                                        </svg>
                                    </div>
                                    <h2 class="title">
                                        Payment successful
                                    </h2>
                                    <div class="subtitle">
                                        We appreciate your order, we’re currently
                                        processing it. So hang tight and We will send the course through email
                                        after
                                        2 working hours.
                                    </div>
                                </div>
                                <div class="shopCompleted-info">
                                    <div class="row no-gutters y-gap-32">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="shopCompleted-info__item">
                                                <div class="subtitle">Order Number</div>
                                                <div class="title text-purple-1 mt-5">
                                                    <%=order.id%>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6">
                                            <div class="shopCompleted-info__item">
                                                <div class="subtitle">Date</div>
                                                <div class="title text-purple-1 mt-5">
                                                    <%=order.createdAt%>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6">
                                            <div class="shopCompleted-info__item">
                                                <div class="subtitle">Total</div>
                                                <div class="title text-purple-1 mt-5">
                                                    <%=(order.priceus / 100).toLocaleString('en-US', {
                                                        maximumFractionDigits: 2, style: 'currency' , currency: 'USD'
                                                        });%>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6">
                                            <div class="shopCompleted-info__item">
                                                <div class="subtitle">Status</div>
                                                <div class="title text-purple-1 mt-5">
                                                    <%if ( order.status=='Chua thanh toan' ) {%>
                                                        Not paid yet.
                                                        <%} else{%>

                                                            Paid
                                                            <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="shopCompleted-footer bg-light-4 border-light rounded-8">
                                    <div class="shopCompleted-footer__wrap">
                                        <h5 class="title">
                                            Order details
                                        </h5>
                                        <span class="">
                                            <%=order.email%>
                                        </span>
                                        <div class="item mt-5">
                                            <span class="text-18 lh-1 text-dark-1 fw-500 mb-10">Course</span>
                                            <span class="text-18 lh-1 text-dark-1 fw-500 mb-10">Download</span>
                                        </div>
                                        <%for (let item of order.orderItems){ %>
                                            <div class="item p-3">
                                                <span class=""><a href="<%= item.course.url %>" target="_blank"
                                                        rel="<%= item.course.name %>">
                                                        <%= item.course.name %>
                                                    </a></span>

                                                <span class="">
                                                    <%if (item.driveDaGui) {%>
                                                        <%if (item.isOneDrive) { %>

                                                            <a href="<%=item.driveDaGui%>"
                                                                class="button -md -green-1 text-dark-1" target="_blank"
                                                                rel="noopener noreferrer">Download</a>
                                                            <%} else {%>
                                                                <a class="button -md -green-1 text-dark-1"
                                                                    href="https://drive.google.com/drive/folders/<%=item.driveDaGui%>"
                                                                    target="_blank"
                                                                    rel="noopener noreferrer">Download</a>
                                                                <%}%>
                                                                    <%} else {%>
                                                                        <span>Loading.</span>
                                                                        <%} %>

                                                </span>
                                            </div>
                                            <%} %>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>

    </main>

    <%- include('../layout/footerjs'); %>

</body>

</html>