<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/vendors.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/tingle.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <title>Sửa <%=course.name%>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body class="preloader-visible" data-barba="wrapper">
    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->

    <!-- barba container start -->
    <div class="barba-container" data-barba="container">


        <main class="main-content">


            <header class="header -dashboard -dark-bg-dark-1 js-header">
                <div class="header__container py-20 px-30">
                    <div class="row justify-between items-center">
                        <div class="col-auto">
                            <div class="d-flex items-center">
                                <div class="header__explore text-dark-1">
                                    <button class="d-flex items-center js-dashboard-home-9-sidebar-toggle">
                                        <i class="icon -dark-text-white icon-explore"></i>
                                    </button>
                                </div>

                                <div class="header__logo ml-30 md:ml-20">
                                    <a data-barba href="/admin">
                                        <img class="-light-d-none" src="/img/general/logo.svg" alt="logo">
                                        <img class="-dark-d-none" src="/img/general/logo-dark.svg" alt="logo">
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </header>


            <div class="content-wrapper js-content-wrapper">
                <div class="dashboard -home-9 js-dashboard-home-9">
                    <%- include('../nav'); %>
                        <div class="dashboard__main">
                            <div class="dashboard__content bg-light-4">
                                <div class="row pb-50 mb-10">
                                    <div class="col-auto">

                                        <h1 class="text-30 lh-12 fw-700">Sửa <%=course.name%>
                                        </h1>
                                        <div class="mt-10">Cập nhật lần cuối <%= course.updatedAt.toLocaleString()%>.
                                        </div>
                                        <div class="mt-10">
                                            <a href="/course/<%=course.slug%>" class="text-purple-4 "
                                                target="_blank">Xem trên trang chủ</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="row y-gap-60">
                                    <form class="contact-form row y-gap-30" id="formupdate" action="/admin/course/update/<%=course.id%>"
                                        method="POST" >
                                        <div class="col-lg-8">
                                            <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
                                                <div class="d-flex items-center py-20 px-30 border-bottom-light">
                                                    <h2 class="text-17 lh-1 fw-500">Thông tin cơ bản</h2>
                                                </div>

                                                <div class="py-30 px-30">


                                                    <div class="col-12">

                                                        <label
                                                            class="text-16 lh-1 fw-500 text-dark-1 mb-10">Name*</label>

                                                        <input type="text" value="<%=course.name%>" name="name"
                                                            id="title">
                                                    </div>
                                                    <div class="col-12">

                                                        <label
                                                            class="text-16 lh-1 fw-500 text-dark-1 mb-10">URI*</label>

                                                        <input type="text" value="<%=course.url%>" name="url" id="URI">
                                                    </div>

                                                    <div class="col-12">

                                                        <label
                                                            class="text-16 lh-1 fw-500 text-dark-1 mb-10">Price*</label>

                                                        <input type="text" value="<%=course.price%>" name="price"
                                                            id="price">
                                                    </div>
                                                    <div class="col-12">

                                                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Price
                                                            US*</label>

                                                        <input type="text" value="<%=course.priceus%>" name="priceus"
                                                            id="priceus">
                                                    </div>
                                                    <div class="col-12">

                                                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Price
                                                            India*</label>

                                                        <input type="text" value="<%=course.priceindia%>"
                                                            name="priceindia" id="priceindia">
                                                    </div>
                                                    <div class="col-12">

                                                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">
                                                            Link Share Free*</label>

                                                        <input type="text" value="<%=course.sharelinkfree%>"
                                                            name="sharelinkfree" id="sharelinkfree">
                                                    </div>



                                                    <div class="col-12">
                                                        <label
                                                            class="text-16 lh-1 fw-500 text-dark-1 mb-10">whatyouwilllearn</label>
                                                        <input type="text" class="" id="whatyouwilllearn"
                                                            value="<%= JSON.stringify(course.whatyouwilllearn )%>"
                                                            name="whatyouwilllearn">
                                                    </div>

                                                    <div class="col-12">
                                                        <label
                                                            class="text-16 lh-1 fw-500 text-dark-1 mb-10">requirements</label>
                                                        <input type="text"
                                                            value="<%= JSON.stringify(course.requirements )%>" class=""
                                                            id="requirements" name="requirements">
                                                    </div>

                                                    <div class="col-12">
                                                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Mô tả
                                                            ngắn*</label>
                                                        <textarea class="" id="description_sort"
                                                            name="description_sort"><%- course.description_sort ? course.description_sort : course.description %></textarea>
                                                    </div>

                                                    <div class="col-12">
                                                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Nội dung
                                                            chính*</label>
                                                        <textarea class="editor" id="description_log"
                                                            name="description_log">
                                                            <%- course.description_log %>
                                                        </textarea>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="d-flex lg:flex-column">
                                                            <div class="relative shrink-0">
                                                                <img class="w-1\/4" src="<%= course.image %>"
                                                                    alt="image" width="200" height="150">

                                                                <div
                                                                    class="absolute-full-center d-flex justify-end py-20 px-20">
                                                                    <a href="#"
                                                                        class="d-flex justify-center items-center bg-white size-40 rounded-8 shadow-1">
                                                                        <i class="icon-bin text-16"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="w-1/1 ml-30 lg:ml-0 lg:mt-20">

                                                                <div class="form-upload col-12">
                                                                    <label
                                                                        class="text-16 lh-1 fw-500 text-dark-1 mb-10">Hình
                                                                        đại diện*</label>
                                                                    <div class="form-upload__wrap">
                                                                        <input type="text" class="" id="thumbnail"
                                                                            name="image" value="<%= course.image %>">

                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-6">

                                                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">ID</label>
                                                        <input type="text" value="<%= course.id %>" id="courseID" class="d-none">
                                                       
                                                    </div>
                                                    <div class="col-6">

                                                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Tạo
                                                            lúc</label>

                                                        <%= course.createdAt.toLocaleString()%>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 ">
                                                <div class="d-flex items-center py-20 px-30 border-bottom-light">
                                                    <h2 class="text-17 lh-1 fw-500">Seo Metadata</h2>
                                                </div>
                                                <div class="py-30 px-30">
                                                    <div class="col-12">
                                                        <label
                                                            class="text-16 lh-1 fw-500 text-dark-1 mb-10">Title*</label>

                                                        <input type="text" value="<%=course.title%>" name="title"
                                                            id="title">

                                                        <label
                                                            class="text-16 lh-1 fw-500 text-dark-1 mb-10">slug*</label>

                                                        <input type="text" value="<%=course.slug%>" name="slug"
                                                            id="slug">

                                                        <label
                                                            class="text-16 lh-1 fw-500 text-dark-1 mb-10">Description*</label>

                                                        <input type="text" value="<%=course.description%>"
                                                            name="description" id="description">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 mt-30"
                                                style="max-height: 500px; overflow:auto;">
                                                <div class="d-flex items-center py-20 px-30 border-bottom-light">
                                                    <h2 class="text-17 lh-1 fw-500">Danh mục chính</h2>
                                                </div>
                                                <div class="py-30 px-30">
                                                    <!-- <div class="col-12">
                                                        <select name="TopicId">
                                                            <%for (let i of dropDownHandTopic) {%>

                                                                <option value="<%=i.id%>" <%=i.selected ? 'selected'
                                                                    : '' %> > <%=i.text%>
                                                                </option>

                                                                <%}%>
                                                        </select>
                                                    </div> -->
                                                    <div class="col-12">
                                                        <% for (let i of course.Topics) {%>
                                                            <p>
                                                                <%= i.name %>
                                                            </p>
                                                            <%}%>
                                                    </div>
                                                </div>

                                                <div class="py-30 px-30">
                                                    <select class="js-select2" name="TopicId">
                                                       
                                                      </select>
                                                </div>

                                            </div>
                                            <div class="col-auto mt-30">
                                                <button class="button w-1/1 -md -green-1 text-white" id="checkCourse"
                                                    type="button">Check Course</button>
                                            </div>
                                            <div class="col-auto mt-30">
                                                <button class="button w-1/1 -md -purple-1 text-white" id="updateButton"
                                                    type="submit">Cập
                                                    nhật</button>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>

                                <div class="col-12">
                                    <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
                                        <div
                                            class="d-flex items-center justify-between space py-20 px-30 border-bottom-light">
                                            <h2 class="text-17 lh-1 fw-500">Drive</h2>
                                            <a onclick="addDrive()" class="icon icon-edit mr-5">Thêm Drive</a>
                                        </div>

                                        <div class="py-30 px-30">
                                            <div class="row">


                                                <div class="col-12">
                                                    <div class="accordion -block-2 text-left js-accordion">
                                                        <% for (let drivecourse of course.driveCourses){ %>
                                                            <div class="accordion__item -dark-bg-dark-1 mt-10">
                                                                <div class="accordion__button py-20 px-30 bg-light-4">
                                                                    <div class="d-flex items-center">
                                                                        <div class="icon icon-drag mr-10"></div>
                                                                        <span class="text-16 lh-14 fw-500 text-dark-1">
                                                                            <%= drivecourse.id %>
                                                                                <%= drivecourse.name %>
                                                                        </span>
                                                                    </div>

                                                                    <div class="d-flex x-gap-10 items-center">

                                                                        <div class="accordion__icon mr-0">
                                                                            <div
                                                                                class="d-flex items-center justify-center icon icon-chevron-down">
                                                                            </div>
                                                                            <div
                                                                                class="d-flex items-center justify-center icon icon-chevron-up">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="accordion__content">
                                                                    <div class="accordion__content__inner px-30 py-30">
                                                                        <div class="d-flex x-gap-10 y-gap-10 flex-wrap">
                                                                            <div>
                                                                                <a
                                                                                    class="button -sm py-15 -purple-3 text-purple-1 fw-500">
                                                                                    <%= drivecourse.idDrive %>
                                                                                </a>
                                                                            </div>
                                                                            <div>

                                                                                <a
                                                                                    class="button -sm py-15 -purple-3 text-purple-1 fw-500">
                                                                                    Onedrive:<%= drivecourse.isOneDrive
                                                                                        %>
                                                                                </a>

                                                                            </div>
                                                                            <div
                                                                                class="button -sm py-15 -purple-3 text-purple-1 fw-500">

                                                                                <%= drivecourse.OneDriveParentReferenceId
                                                                                    %>

                                                                            </div>
                                                                            <a href="/admin/course/<%=course.id%>/drives/del/<%= drivecourse.id %>"
                                                                                class="icon icon-bin">Xoá</a>



                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <%}%>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                </div>
            </div>
    </div>
    </main>

    </div>
    <!-- barba container end -->

    <!-- JavaScript -->
    <%- include('../../layout/footerjs'); %>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <script src="/js/ckeditor.js"></script>
        <script>
            $(".js-select2").select2({
                data: <%- JSON.stringify(dropDownHandTopic)%>
            })

            // const formupdate = document.getElementById('formupdate')
            // formupdate.addEventListener("submit", (e) => {
            //     e.preventDefault()
               

            //     for(var pair of formupdate.entries()) {
            //     console.log(pair[0]+ ', '+ pair[1]); 
            //     }
            // })

        </script>

        <script>
            let editor;
            ClassicEditor
                .create(document.querySelector('.editor'), {
                    licenseKey: '',
                })
                .then(newEditor => {
                    editor = newEditor;
                })
                .catch(error => {
                    console.error('Oops, something went wrong!');
                    console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                    console.warn('Build id: 1lt32d2j8rmx-gq1q9if87fsi');
                    console.error(error);
                });
            var modal = new tingle.modal({
                footer: true,
                stickyFooter: false,
                closeMethods: ['overlay', 'button', 'escape'],
                closeLabel: "Close",
                cssClass: ['custom-class-1', 'custom-class-2'],
            });
            const addDrive = async (e) => {
                modal.open()

                const html = `
                            <form class="contact-form" id="updateTopicForm" method="POST" action="/admin/course/<%=course.id%>/drives">
                                 <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">DriveName</label>
                            <div class="">
                                <input type="text" name="DriveName" id="DriveName" value="">
                            </div>
                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">ID</label>
                            <div class="">
                                <input type="text" name="DriveID" id="DriveID" value="">
                            </div>

                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Is Onedrive</label>
                            <div class="">
                                <select class="form-select"
                                name="isOneDrive"
                                aria-label="Default select example">
                                
                                <option value="1" >One Drive
                                </option>
                                <option value="0" >Google Drive
                                </option>
                            </select>
                            </div>

                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">OneDriveParentReferenceId</label>
                            <div class="">
                            <input type="text" name="OneDriveParentReferenceId" id="OneDriveParentReferenceId" value="">
                            </div>
                            <div class="col-auto mt-10">
                                <button class="button -md -purple-1 text-white" id="addDriveButton" type="submit">Thêm Drive</button>
                            </div>
                        </form>
                `
                modal.setContent(html)
            }

            const checkcourse = document.getElementById("checkCourse")
            checkcourse.addEventListener("click", async (e) => {
                modal.open()
                modal.setContent('Đang lấy dữ liệu');
                const links = document.getElementById("URI").value

                const drives = await axios.post(`https://sv2.fullbootcamp.com/`, {
                    links: [links]
                })
                console.log(drives.data)
                let codeHtml = ``
                for (let item of drives.data) {

                    const renderGoogleOneDrive = renderGoogleOneDriveFC(item)
                    const html = `
                        <div class="py-20">
                            <div class="text-20 lh-1 text-purple-1 fw-500 mb-15">${item.dbitem.name}</div>
                            <div class="text-18 mb-30">${item.dbitem.url}</div>
                            <div id="renderDriveItems">
                                ${renderGoogleOneDrive}
                            </div>
                            <div class="col-auto mt-10">
                                <button class="button -md -purple-1 text-white" onClick="addToCourse()" type="submit">Thêm Drive</button>
                            </div>
                        </div>
                    `
                    codeHtml += html
                }
                modal.setContent(codeHtml);

            })
            const renderGoogleOneDriveFC = item => {
                var renderDriveItems = ``
                for (let OneDrive of item.dbitem.OneDrive) {
                    const html = `
                        <div class="d-flex items-center py-15">
                            <div class="form-checkbox">
                                  <input type="checkbox" onedriveparentreferenceid="${OneDrive.resource.parentReference.driveId}" drivename="${OneDrive.resource.name}" id="${OneDrive.resource.id}" value="${OneDrive.resource.id}" isonedrive="True" class="form-check-input checkfileduocchon">
                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon icon-check"></div>
                            </div>
                            </div>
                                <div class="d-flex flex-column">
                                        <label for="${OneDrive.resource.id}" class="text-16 lh-12 text-white ml-15  p-15 bg-orange-4">${OneDrive.resource.name} </label>
                                    <a target="_blank"  href="${OneDrive.resource.webUrl}">
                                    
                                        <div class="text-14 lh-12 text-dark-1 ml-15 py-5">${OneDrive.resource.id} </div></a>
                                        <div class="text-14 lh-12 text-dark-1 ml-15  py-5">${moment(OneDrive.resource.createdDateTime).format("DD-MM-YYYY")}  - <span class="text-purple-4"> Onedrive - ${OneDrive.resource.createdBy.user.displayName}</span></div>
                                </div>
                        </div>
                    `
                    renderDriveItems += html
                }
                for (let DriveFolder of item.dbitem.driveCourses) {
                    const html = `
                            <div class="d-flex items-center">
                                <div class="form-checkbox">
                                    <input type="checkbox" onedriveparentreferenceid="" drivename="${DriveFolder.name}" id="${DriveFolder.id}"
                                        value="${DriveFolder.id}" isonedrive="False" 
                                        class="form-check-input checkfileduocchon">
                                    <div class="form-checkbox__mark">
                                        <div class="form-checkbox__icon icon-check"></div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                        <label class="text-16 lh-12 ml-15 p-15 bg-orange-4 text-white" for="${DriveFolder.id}">${DriveFolder.name} </label>
                                    <a href="https://drive.google.com/drive/folders/${DriveFolder.id}?usp=sharing">
                                        <div class="text-14 lh-12 text-dark-1 ml-15 py-5">${DriveFolder.id}</div>
                                        <div class="text-14 lh-12 text-dark-1 ml-15 py-5">${moment(DriveFolder.createdTime).format("DD-MM-YYYY")} -
                                            <span class="text-blue-3"> GoogleDrive -
                                                ${DriveFolder.owners[0].displayName} </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                    `
                    renderDriveItems += html
                }
                return renderDriveItems
            }

            const addToCourse = async() => {
                const inputs = document.querySelectorAll(".checkfileduocchon:checked");
                let drives
                for (let input of inputs) {
                    const DriveID = input.value;
                    const DriveName = input.getAttribute("drivename")
                    const isOnedrive = input.getAttribute("isOneDrive");
                    const OneDriveParentReferenceId = input.getAttribute("OneDriveParentReferenceId")

                    drives = { DriveID, DriveName, isOnedrive, OneDriveParentReferenceId }
                }
                const courseId = document.getElementById("courseID")
                const addDrive = await axios.post(`/admin/course/${courseId}/drives`, drives)
                console.log(addDrive.data)
            }

           
        </script>

</body>

</html>