<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/vendors.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tingle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <title>Đơn hàng <%=OneOrder.id%>
    </title>
</head>

<body class="preloader-visible" data-barba="wrapper">
    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->

    <!-- barba container start -->
    <div class="barba-container" data-barba="container">


        <main class="main-content">


            <header class="header -dashboard -dark-bg-dark-1 js-header">
                <div class="header__container py-20 px-30">
                    <div class="row justify-between items-center">
                        <div class="col-auto">
                            <div class="d-flex items-center">
                                <div class="header__explore text-dark-1">
                                    <button class="d-flex items-center js-dashboard-home-9-sidebar-toggle">
                                        <i class="icon -dark-text-white icon-explore"></i>
                                    </button>
                                </div>

                                <div class="header__logo ml-30 md:ml-20">
                                    <a data-barba href="/admin">
                                        <img class="-light-d-none" src="/img/general/logo.svg" alt="logo">
                                        <img class="-dark-d-none" src="/img/general/logo-dark.svg" alt="logo">
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </header>


            <div class="content-wrapper js-content-wrapper">
                <div class="dashboard -home-9 js-dashboard-home-9">
                    <%- include('../nav'); %>


                        <div class="dashboard__main">
                            <div class="dashboard__content bg-light-4">
                                <div class="row pb-50 mb-10">
                                    <div class="col-auto">

                                        <h1 class="text-30 lh-12 fw-700">Đơn hàng <%=OneOrder.id%>
                                        </h1>
                                        <div class="mt-10">
                                            <%=OneOrder.uuid%>
                                        </div>

                                    </div>
                                </div>
                                <div class="row y-gap-30">
                                    <div class="col-xl-3">
                                        <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
                                            <div class="d-flex items-center py-20 px-30 border-bottom-light">
                                                <h2 class="text-17 lh-1 fw-500">Chi tiết đơn hàng</h2>
                                            </div>

                                            <div class="py-30 px-30">
                                                <div class="y-gap-30">

                                                    <form method="post" action="/admin/order/<%= OneOrder.id %>"
                                                        class="contact-form row y-gap-30">
                                                        <div class="col-12">
                                                            <label
                                                                class="text-16 lh-1 fw-500 text-dark-1 mb-10">ID</label>

                                                            <div class="text-14 lh-11 mt-5">
                                                                <%= OneOrder.id %>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <label
                                                                class="text-16 lh-1 fw-500 text-dark-1 mb-10">UUID</label>

                                                            <div class="text-14 lh-11 mt-5">
                                                                <%= OneOrder.uuid %>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Ngày
                                                                tạo</label>

                                                            <div class="text-14 lh-11 mt-5 datesTime">
                                                                <%= OneOrder.createdAt %>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Cập
                                                                nhật lần cuối</label>

                                                            <div class="text-14 lh-11 mt-5 datesTime">
                                                                <%= OneOrder.updatedAt %>

                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <label
                                                                class="text-16 lh-1 fw-500 text-dark-1 mb-10">Email</label>

                                                            <input type="email" name="email"
                                                                value="<%= OneOrder.email %>">
                                                        </div>


                                                        <div class="col-12">

                                                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Trạng
                                                                thái</label>

                                                            <select class="form-select" name="status"
                                                                aria-label="Default select example">
                                                                <option value="<%= OneOrder.status %>">
                                                                    <%= OneOrder.status %>
                                                                </option>
                                                                <option value="Paid">Paid</option>
                                                                <option value="Chua thanh toan">Chua thanh toan</option>
                                                            </select>
                                                        </div>


                                                        <div class="col-12">

                                                            <label
                                                                class="text-16 lh-1 fw-500 text-dark-1 mb-10">Giá</label>

                                                            <input type="text" name="price"
                                                                value="<%= OneOrder.price %>" class="form-control">
                                                        </div>

                                                        <div class="col-12">
                                                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Đã
                                                                thanh toán</label>
                                                            <input type="text" name="priceck"
                                                                value="<%= OneOrder.priceck %>" class="form-control">

                                                        </div>
                                                        <div class="col-12">
                                                            <button class="button -md -purple-1 text-white"
                                                                type="submit">Thay đổi</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-9">
                                        <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
                                            <div class="py-20 px-30 border-bottom-light">


                                                <div class=" x-gap-10 y-gap-10 row">
                                                    <div class="col-12">
                                                        <div class="row x-gap-10 y-gap-10">
                                                            <div class="col-auto"><button
                                                                    class="button -sm -outline-dark-1 text-dark-1"
                                                                    id="sendURLtoDownload" idOrder="<%= OneOrder.id %>"
                                                                    onclick="downloadAllCoursev2(this)">Download
                                                                    Non
                                                                    Business</button></div>

                                                            <div class="col-auto"><button
                                                                    class="button -sm -purple-3 text-purple-1"
                                                                    id="sendURLtoDownload" idOrder="<%= OneOrder.id %>"
                                                                    onclick="downloadAllCourse(this)">Download</button>
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="col-12">
                                                        <div class="row x-gap-10 y-gap-10">
                                                            <div class="col-auto">
                                                                <button onclick="downloadAllCoursev3(this)"
                                                                    idOrder="<%= OneOrder.id %>"
                                                                    class="button -sm -green-1 text-dark-1">Download
                                                                    không đổi tên
                                                                </button>
                                                            </div>
                                                            <div class="col-auto">
                                                                <button onclick="downloadAllCoursev4(this)"
                                                                    idOrder="<%= OneOrder.id %>"
                                                                    class="button -sm -outline-green-1 text-green-1">Download
                                                                    không đổi tên Non Business</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="button -sm -purple-1 text-white"
                                                            onClick="checkcourse(this)"
                                                            orderID="<%= OneOrder.id %>">Check
                                                            khoá học</button>
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="button -sm -purple-1 text-white"
                                                            onClick="checkcoursebyname(this)"
                                                            orderID="<%= OneOrder.id %>">Check
                                                            khoá học theo tên</button>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="py-40 px-40">
                                                <div class="row y-gap-20">
                                                    <div style="overflow-x:auto;">
                                                        <table role="table" class="text-nowrap table">
                                                            <thead class="table-light">
                                                                <tr role="row">
                                                                    <th colspan="1" role="columnheader">ID</th>
                                                                    <th colspan="1" role="columnheader">COURSES</th>
                                                                    <th>Url</th>
                                                                    <th colspan="1" role="columnheader">Drive đã gửi
                                                                        khách
                                                                    </th>
                                                                    <th colspan="1" role="columnheader">STATUS</th>
                                                                    <th colspan="1" role="columnheader">AMOUNT</th>

                                                                    <th colspan="1" role="columnheader"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody role="rowgroup">
                                                                <% for(let item of OneOrder.orderItems){ %>
                                                                    <form
                                                                        action="/admin/orderitem/orderid/<%= OneOrder.id %>/id/<%= item.id %>"
                                                                        method="POST">
                                                                        <tr role="row">
                                                                            <td role="cell">
                                                                                <%= item.id %>
                                                                            </td>
                                                                            <td role="cell">
                                                                                <a href="/admin/course/<%= item.course.id %>""
                                                                                                                            rel="
                                                                                    noopener noreferrer">
                                                                                    <%= item.course.name %>
                                                                                </a>
                                                                            </td>
                                                                            <td role="cell" class="urlcourse">
                                                                                <%= item.course.url%>
                                                                            </td>
                                                                            <td role="cell">
                                                                                <%if ( item.isOneDrive) {%>
                                                                                    <input name="driveDaGui"
                                                                                        value="<%= item.driveDaGui %>">
                                                                                    <a href="<%= item.driveDaGui %>"
                                                                                        target="_blank"
                                                                                        rel="noopener noreferrer">
                                                                                        <%= item.driveDaGui %>
                                                                                    </a>
                                                                                    <% } else {%>
                                                                                        <input name="driveDaGui"
                                                                                            value="<%= item.driveDaGui %>">
                                                                                        <a href="https://drive.google.com/drive/folders/<%= item.driveDaGui %>"
                                                                                            target="_blank"
                                                                                            rel="noopener noreferrer">
                                                                                            <%= item.driveDaGui %>
                                                                                        </a>
                                                                                        <%}%>
                                                                            </td>
                                                                            <td role="cell">
                                                                                <select class="form-select"
                                                                                name="isOneDrive"
                                                                                aria-label="Default select example">
                                                                                
                                                                                <option value="1" <%= item.isOneDrive ? selected="selected" : '' %>>One Drive
                                                                                </option>
                                                                                <option value="0" <%= !item.isOneDrive ? selected="selected" : '' %>>Google Drive
                                                                                </option>
                                                                            </select>
                                                                        </td>
                                                                            </td>
                                                                            <td role="cell">

                                                                                <select class="form-select"
                                                                                    name="status"
                                                                                    aria-label="Default select example">
                                                                                    <option value="<%= item.status %>">
                                                                                        <%= item.status %>
                                                                                    </option>
                                                                                    <option value="Da gui">Da gui
                                                                                    </option>
                                                                                    <option value="Chua gui">Chua gui
                                                                                    </option>
                                                                                </select>


                                                                            </td>
                                                                            <td role="cell">
                                                                                <%= item.course.price.toLocaleString('it-IT',
                                                                                    {style : 'currency' , currency
                                                                                    : 'VND' }); %>
                                                                            </td>
                                                                            <td role="cell">
                                                                                <div class="dropdown">
                                                                                    <button
                                                                                        class="button -md -dark-1 text-white"
                                                                                        type="submit">Sửa</button>

                                                                                    <a class="button -md -outline-green-1 text-green-1"
                                                                                        href="/admin/itemorder/delete/<%= item.id %>"
                                                                                        class="dropdown-item">Xoá</a>

                                                                                    </ul>
                                                                                </div>
                                                                            </td>

                                                                        </tr>
                                                                    </form>

                                                                    <%}%>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </main>

    </div>
    <!-- barba container end -->

    <!-- JavaScript -->
    <%- include('../../layout/footerjs'); %>
        <script src="/js/sendCourseApi.js"></script>

        <script>
            moment.locale('vi')
            const timeClass = document.getElementsByClassName("datesTime")
            const orderStatus = document.querySelectorAll('.orderStatus')
            for (let itemTime of timeClass) {
                itemTime.textContent = moment(itemTime.textContent).fromNow()
            }
            for (let orStt of orderStatus) {
                const textStt = orStt.innerText
                if (textStt === 'Paid') {
                    orStt.classList.add("bg-blue-1")
                } else {
                    orStt.classList.add("bg-warning-2")
                }
            }

        </script>
</body>

</html>