<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Primary Meta Tags -->
    <title>
        About Us
    </title>
    <meta name="title" content="About Us" />
    <meta name="description"
        content="About us - Udemy Course Downloader. Download Udemy Paid Courses only. Learn Web Development, Programming, IT &amp; Software, Marketing, Music, Online Courses, and more" />
    <link rel="canonical" href="<%=canonicalURL%>" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/redketchup/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/redketchup/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/redketchup/favicon-16x16.png">
    <link rel="manifest" href="/img/redketchup/site.webmanifest">
    <meta content="INDEX,FOLLOW" name="robots" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%=canonicalURL%>" />
    <meta property="og:title" content="About us" />
    <meta property="og:description"
        content="About us - Udemy Course Downloader. Download Udemy Paid Courses only 3$. Learn Web Development, Programming, IT &amp; Software, Marketing, Music, Online Courses, and more" />
    <meta property="og:image" content="/img/ogfacebook/ogfb.jpg" />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@fullbootcamp" />
    <meta name="twitter:title" content="About us" />
    <meta name="twitter:description"
        content="About us - Udemy Course Downloader. Download Udemy Paid Courses only 3$. Learn Web Development, Programming, IT &amp; Software, Marketing, Music, Online Courses, and more" />
    <meta name="twitter:image" content="/img/ogfacebook/ogfb.jpg" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/base.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/vendors.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tingle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <%- include('../layout/analytics'); %>
      
</head>

<body class="preloader-visible" data-barba="wrapper">
    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->


    <main class="main-content  ">


        <%- include('../layout/header'); %>


            <div class="content-wrapper  js-content-wrapper">


                <section data-anim="fade" class="breadcrumbs ">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto">
                                <div class="breadcrumbs__content">

                                    <div class="breadcrumbs__item ">
                                        <a href="/">Home</a>
                                    </div>

                                    <div class="breadcrumbs__item ">
                                        <a href="/about">About</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="page-header -type-1">
                    <div class="container">
                        <div class="page-header__content">
                            <div class="row justify-center text-center">
                                <div class="col-auto">
                                    <div data-anim="slide-up delay-1">

                                        <h1 class="page-header__title">About Us</h1>

                                    </div>

                                    <div data-anim="slide-up delay-2">

                                        <p class="page-header__text">We Provide Paid Udemy Courses with Good Price to Students
                                            Free Download Millions of Paid Udemy Courses. Choose from 213,000 online video courses with new additions published every month.
                                            
                                            </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="layout-pt-md layout-pb-md">
                    <div data-anim-wrap class="container">
                        <div class="row y-gap-50 justify-between items-center">
                            <div class="col-lg-6 pr-50 sm:pr-15">
                                <div class="composition -type-8">
                                    <div class="-el-1"><img src="img/about-1/course1.jpg" alt="image"></div>
                                    <div class="-el-2"><img src="img/about-1/course2.jpg" alt="image"></div>
                                    <div class="-el-3"><img src="img/about-1/course3.jpg" alt="image"></div>
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <h2 class="text-30 lh-16">Our vision is to Provide Paid Course to Students with Cheap Proce.</h2>
                                <p class="text-dark-1 mt-30">Udemy Downloader is a fast and cheap way to download Udemy Courses.</p>
                                <p class="pr-50 lg:pr-0 mt-25">Udemy Course Downloader –  Udemy Course Downloader. Download Udemy Paid Courses only 3$. Learn Web Development, Programming, IT & Software, Marketing, Music, Free Online Courses, and more.
                                </p>
                                <div class="d-inline-block">
                                    <a href="/" class="button -md -purple-1 text-white mt-30">Get Courses Now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="layout-pt-md layout-pb-lg">
                    <div class="container">
                        <div class="row y-gap-20 justify-center text-center">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title ">How to Download?</h2>

                                    <p class="sectionTitle__text ">Learn How To Download Udemy Courses from Our Udemy Downloader Tool.</p>

                                </div>

                            </div>
                        </div>

                        <div class="row y-gap-30 justify-between pt-60 lg:pt-40">

                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/1.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">01</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Enter the your Gmail and links of the courses you need.</div>
                                </div>
                            </div>


                            <div class="col-auto xl:d-none">
                                <div class="pt-30">
                                    <img src="img/misc/lines/1.svg" alt="icon">
                                </div>
                            </div>


                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/2.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">02</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Pay for orders</div>
                                </div>
                            </div>


                            <div class="col-auto xl:d-none">
                                <div class="pt-30">
                                    <img src="img/misc/lines/2.svg" alt="icon">
                                </div>
                            </div>


                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/3.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">03</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Receive courses via Google Drive or OneDrive.
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>

                <section class="section-bg layout-pt-lg layout-pb-md">
                    <div class="section-bg__item -full -height-half bg-dark-5"></div>

                    <div data-anim-wrap class="container">
                        <div class="row justify-center text-center">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title text-white">Start your Learning Journey Today!</h2>

                                    <p class="sectionTitle__text text-white">Providing Udemy Paid Courses with Good Price
                                    </p>

                                </div>

                            </div>
                        </div>

                        <div data-anim-wrap class="row y-gap-30 justify-between pt-60 lg:pt-50">

                            <div data-anim-child="slide-up delay-1" class="col-lg-4 col-md-12">
                                <div
                                    class="coursesCard -type-2 text-center pt-50 pb-40 px-30 rounded-8 bg-white shadow-2">
                                    <div class="coursesCard__image">
                                        <img src="img/home-5/learning/1.svg" alt="image">
                                    </div>
                                    <div class="coursesCard__content mt-30">
                                        <h5 class="coursesCard__title text-18 lh-1 fw-500">Paid Courses</h5>
                                        <p class="coursesCard__text text-14 mt-10">Download any Paid Udemy Courses by using our fulludemy.com Tool.</p>
                                    </div>
                                </div>
                            </div>

                            <div data-anim-child="slide-up delay-2" class="col-lg-4 col-md-12">
                                <div
                                    class="coursesCard -type-2 text-center pt-50 pb-40 px-30 rounded-8 bg-white shadow-2">
                                    <div class="coursesCard__image">
                                        <img src="img/home-5/learning/2.svg" alt="image">
                                    </div>
                                    <div class="coursesCard__content mt-30">
                                        <h5 class="coursesCard__title text-18 lh-1 fw-500">Learn Anything</h5>
                                        <p class="coursesCard__text text-14 mt-10">Get All Courses Completely with 3$, No Hidden Charges..</p>
                                    </div>
                                </div>
                            </div>

                            <div data-anim-child="slide-up delay-3" class="col-lg-4 col-md-12">
                                <div
                                    class="coursesCard -type-2 text-center pt-50 pb-40 px-30 rounded-8 bg-white shadow-2">
                                    <div class="coursesCard__image">
                                        <img src="img/home-5/learning/3.svg" alt="image">
                                    </div>
                                    <div class="coursesCard__content mt-30">
                                        <h5 class="coursesCard__title text-18 lh-1 fw-500">Fresh Courses everyday</h5>
                                        <p class="coursesCard__text text-14 mt-10">All Courses are updated on a daily basis so you can find the newest and Trending courses every day.</p>
                                    </div>
                                </div>
                            </div>

                           

                        </div>
                    </div>
                </section>

                <section class="layout-pt-md layout-pb-md">
                    <div class="container">
                        <div class="row y-gap-20 justify-center text-center">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title ">Testimonials</h2>

                                    <p class="sectionTitle__text ">10,000+ unique online course list designs</p>

                                </div>

                            </div>
                        </div>

                        <div class="row justify-center pt-60">
                            <div class="col-xl-6 col-lg-8 col-md-10">
                                <div class="overflow-hidden js-testimonials-slider">
                                    <div class="swiper-wrapper">

                                        <div class="swiper-slide h-100">
                                            <div data-anim="slide-up" class="testimonials -type-2 text-center">
                                                <div class="testimonials__icon">
                                                    <img src="img/misc/quote.svg" alt="quote">
                                                </div>
                                                <div class="testimonials__text md:text-20 fw-500 text-dark-1">"I couldn't believe the value I got for the price! This course exceeded my expectations in every way. Highly recommended!</div>
                                                <div class="testimonials__author">
                                                    <h5 class="text-17 lh-15 fw-500">Alex Thompson</h5>
                                                    <div class="mt-5">Web Development, TechInnovate Solutions</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="swiper-slide h-100">
                                            <div data-anim="slide-up" class="testimonials -type-2 text-center">
                                                <div class="testimonials__icon">
                                                    <img src="img/misc/quote.svg" alt="quote">
                                                </div>
                                                <div class="testimonials__text md:text-20 fw-500 text-dark-1">As a beginner, I found the courses on this website incredibly helpful. The step-by-step guidance made learning easy and enjoyable</div>
                                                <div class="testimonials__author">
                                                    <h5 class="text-17 lh-15 fw-500">Emily Johnson</h5>
                                                    <div class="mt-5">Python Programming Consultant, CodeCraft Labs</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="swiper-slide h-100">
                                            <div data-anim="slide-up" class="testimonials -type-2 text-center">
                                                <div class="testimonials__icon">
                                                    <img src="img/misc/quote.svg" alt="quote">
                                                </div>
                                                <div class="testimonials__text md:text-20 fw-500 text-dark-1">The variety of courses available is impressive. I've learned web development, Python, and more, all at affordable prices.</div>
                                                <div class="testimonials__author">
                                                    <h5 class="text-17 lh-15 fw-500">Marcus Rodriguez</h5>
                                                    <div class="mt-5">Online Learning Advisor,  EduMentor Connect</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="swiper-slide h-100">
                                            <div data-anim="slide-up" class="testimonials -type-2 text-center">
                                                <div class="testimonials__icon">
                                                    <img src="img/misc/quote.svg" alt="quote">
                                                </div>
                                                <div class="testimonials__text md:text-20 fw-500 text-dark-1">Sir's courses are a game-changer. The practical insights and real-world examples set these courses apart. A must for anyone serious about learning.</div>
                                                <div class="testimonials__author">
                                                    <h5 class="text-17 lh-15 fw-500">Olivia Taylor</h5>
                                                    <div class="mt-5">Facebook Ads Strategist, SocialBoost Marketing</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="swiper-slide h-100">
                                            <div data-anim="slide-up" class="testimonials -type-2 text-center">
                                                <div class="testimonials__icon">
                                                    <img src="img/misc/quote.svg" alt="quote">
                                                </div>
                                                <div class="testimonials__text md:text-20 fw-500 text-dark-1">The technical support provided is outstanding. Quick response and clear explanations helped me overcome coding challenges. Thank you!</div>
                                                <div class="testimonials__author">
                                                    <h5 class="text-17 lh-15 fw-500">Ethan Foster</h5>
                                                    <div class="mt-5">Video Content Creator, ViralTrend Media</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="pt-60 lg:pt-40">
                                        <div
                                            class="pagination -avatars row x-gap-40 y-gap-20 justify-center js-testimonials-pagination">

                                            <div class="col-auto">
                                                <div class="pagination__item is-active">
                                                    <img src="img/home-3/testimonials/1.png" alt="image">
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <div class="pagination__item ">
                                                    <img src="img/home-3/testimonials/2.png" alt="image">
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <div class="pagination__item ">
                                                    <img src="img/home-3/testimonials/3.png" alt="image">
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <div class="pagination__item ">
                                                    <img src="img/home-3/testimonials/4.png" alt="image">
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <div class="pagination__item ">
                                                    <img src="img/home-3/testimonials/5.png" alt="image">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="layout-pt-md layout-pb-md">
                    <div class="container">
                        <div class="row y-gap-30 justify-between items-center">
                            <div class="col-xl-5 col-lg-6 col-md-9 lg:order-2">
                                <h3 class="text-45 md:text-30 lh-12"><span class="text-purple-1">Learn</span> new skills
                                    when<br class="lg:d-none"> and where you like.</h3>
                                <p class="mt-20">We always deliver the high quality results & Performence. Millions of Students around the world have already made fulludemy.com the main tool for downloading of Paid Udemy Courses.
                                <div class="d-inline-block mt-30">
                                    <a href="/" class="button -md -dark-1 text-white">Get Course Now</a>
                                </div>
                            </div>

                            <div class="col-lg-6 lg:order-1">
                                <div class="composition -type-3">
                                    <div class="-el-1">
                                        <div class="bg-dark-1 py-50 px-30 rounded-8">
                                            <div class="y-gap-20 pt-25">

                                                <div class="d-flex items-center">
                                                    <div
                                                        class="d-flex items-center justify-center size-25 rounded-full bg-purple-1 mr-15">
                                                        <i class="text-white size-12" data-feather="check"></i>
                                                    </div>
                                                    <div class="fw-500 text-white">
                                                        Perfect for all Students</div>
                                                </div>

                                                <div class="d-flex items-center">
                                                    <div
                                                        class="d-flex items-center justify-center size-25 rounded-full bg-purple-1 mr-15">
                                                        <i class="text-white size-12" data-feather="check"></i>
                                                    </div>
                                                    <div class="fw-500 text-white">
                                                        Easy to Download & Learn.</div>
                                                </div>

                                                <div class="d-flex items-center">
                                                    <div
                                                        class="d-flex items-center justify-center size-25 rounded-full bg-purple-1 mr-15">
                                                        <i class="text-white size-12" data-feather="check"></i>
                                                    </div>
                                                    <div class="fw-500 text-white">
                                                        Updated Everyday</div>
                                                </div>

                                                <div class="d-flex items-center">
                                                    <div
                                                        class="d-flex items-center justify-center size-25 rounded-full bg-purple-1 mr-15">
                                                        <i class="text-white size-12" data-feather="check"></i>
                                                    </div>
                                                    <div class="fw-500 text-white">Only 3$ For One Course</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="-el-2">
                                        <img class="w-1/1" src="img/home-6/learn/illustration-2.svg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="layout-pt-md layout-pb-lg">
                    <div data-anim-wrap class="container">
                        <div class="row justify-center">
                            <div class="col text-center">
                                <p class="text-lg text-dark-1">Trusted by the world’s best</p>
                            </div>
                        </div>

                        <div class="row y-gap-30 justify-between sm:justify-start items-center pt-60 md:pt-50">

                            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
                                <div class="d-flex justify-center items-center px-4">
                                    <img class="w-1/1" src="img/clients/1.svg" alt="clients image">
                                </div>
                            </div>

                            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
                                <div class="d-flex justify-center items-center px-4">
                                    <img class="w-1/1" src="img/clients/2.svg" alt="clients image">
                                </div>
                            </div>

                            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
                                <div class="d-flex justify-center items-center px-4">
                                    <img class="w-1/1" src="img/clients/3.svg" alt="clients image">
                                </div>
                            </div>

                            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
                                <div class="d-flex justify-center items-center px-4">
                                    <img class="w-1/1" src="img/clients/4.svg" alt="clients image">
                                </div>
                            </div>

                            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
                                <div class="d-flex justify-center items-center px-4">
                                    <img class="w-1/1" src="img/clients/5.svg" alt="clients image">
                                </div>
                            </div>

                            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
                                <div class="d-flex justify-center items-center px-4">
                                    <img class="w-1/1" src="img/clients/6.svg" alt="clients image">
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <%- include('../layout/footer'); %>


            </div>
    </main>

    <%- include('../layout/footerjs'); %>

</body>

</html>