<!DOCTYPE html>
<html lang="vi">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Primary Meta Tags -->
    <title>
        Liên Hệ
    </title>
    <meta name="title" content="Liên Hệ" />
    <meta name="description" content="Liên Hệ" />
    <link rel="canonical" href="<%=canonicalURL%>" />
   
    <link rel="apple-touch-icon" sizes="180x180" href="/img/redketchup/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/redketchup/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/redketchup/favicon-16x16.png">
    <link rel="manifest" href="/img/redketchup/site.webmanifest">
    <meta content="INDEX,FOLLOW" name="robots" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%=canonicalURL%>" />
    <meta property="og:title" content="Liên Hệ" />
    <meta property="og:description" content="Liên Hệ" />
    <meta property="og:image" content="" />
    <meta property="og:locale" content="vi_VN" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/base.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/vendors.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tingle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <%- include('../layout/analytics'); %>
</head>

<body class="preloader-visible" data-barba="wrapper">
    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->


    <main class="main-content  ">

        <%- include('../layout/header'); %>

            <div class="content-wrapper  js-content-wrapper">
                <section data-anim="fade" class="breadcrumbs is-in-view">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto">
                                <div class="breadcrumbs__content">

                                    <div class="breadcrumbs__item ">
                                        <a href="/">Home</a>
                                    </div>
                                    <div class="breadcrumbs__item ">
                                            Liên hệ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="page-header -type-4 bg-beige-1">
                    <div class="container">
                      <div class="page-header__content">
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <div data-anim="slide-up delay-1">
                              <h1 class="page-header__title">Liên hệ với chúng tôi</h1>
                            </div>
            
                            <div data-anim="slide-up delay-2">
                              <p class="page-header__text">Nếu bạn cần hỗ trợ hãy liên hệ với chúng tôi, chúng tôi sẽ hỗ trợ bạn. Dù bạn cần tìm hiểu thêm về các khóa học của chúng tôi, cần hỗ trợ kỹ thuật, hay chỉ muốn chia sẻ trải nghiệm học tập của mình, hãy liên hệ với chúng tôi, đội ngũ của Fullbootcamp luôn ở đây để giúp đỡ bạn.</p>
                            
                            </div>
                            <div data-anim="slide-up delay-3">
                                <p class="page-header__text">Chúng tôi cam kết phản hồi mọi yêu cầu trong vòng 24 giờ làm việc. Trân trọng cảm ơn sự quan tâm và tin tưởng của bạn dành cho Fullbootcamp. Hãy kết nối với chúng tôi để cùng nhau mở rộng chân trời tri thức nhé!</p>
                              
                              </div>
                            <div class="pt-30">
                                <h3 class="text-24 lh-1 fw-500">Địa chỉ</h3>
                                <div class="row y-gap-30 pt-40">
                  
                                  <div class="col-sm-6">
                                    <div class="text-20 fw-500 text-dark-1">Hà Nội</div>
                                    <div class="y-gap-10 pt-15">
                                      <a href="#" class="d-block">99 Trích Sài - Tây Hồ</a>
                                      <a href="#" class="d-block">fullbootcamp@gmail.com</a>
                                    </div>
                                  </div>
                  
                                </div>
                              </div>
                          </div>
                          <div data-anim="slide-up delay-4" class="col-md-6 col-sm-12 pt-40">
                            <div class="px-40 py-40 bg-white border-light shadow-1 rounded-8 ">
                              <h3 class="text-24 fw-500">Chat với hỗ trợ</h3>
                              <p class="mt-25">Bạn cần hỗ trợ ngay lập tức? <br>
                                  Bấm vào nút bên dưới dễ chat messenger
                              </p>
                              <div class="pt-20">
                                  <a href="https://m.me/108479422217669" target="_blank" class="button -md -purple-1 text-white ">
                                      Send Message
                                  </a>
                              </div>
                              
                              
                            </div>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                <section class="layout-pt-lg layout-pb-lg mb-90 section-bg">
                    <div class="section-bg__item">
                        <img class="img-full rounded-16" src="img/home-3/cta/bg.png" alt="image">
                    </div>

                    <div class="container">
                        <div class="row justify-center text-center">
                            <div class="col-xl-5 col-lg-6 col-md-11">

                                <div class="sectionTitle -light">

                                    <h2 class="sectionTitle__title ">Đăng ký get khoá học Udemy - Unica - Gitiho ngay!
                                    </h2>

                                    <p class="sectionTitle__text ">Get khoá học giá rẻ ngay trước khi bị fix.
                                    </p>

                                </div>

                            </div>
                        </div>

                        <div class="row mt-30 justify-center">
                            <div class="col-auto">
                                <a href="/#getCourseHere" class="button -md -outline-light-4 text-white">Get khoá học
                                    cho
                                    tôi</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </main>
    <%- include('../layout/footer'); %>
    <%- include('../layout/footerjs'); %>


</body>

</html>